*.log
coverage
spec/reports
pkg
doc
.yardoc
mydel.sql
reports

# ci
ci_bin

# editor swap files
*.sw?
*~

# bundler08
gem_bin
jgem_bin
19gem_bin
vendor/gems/*.rb
vendor/gems/*/*/*
!vendor/gems/*/*/cache
vendor/bundler_gem

vendor/jruby
